@import "../../global.scss";

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease;

  &.sticky {
    background: $bgColor;
    padding: 0.714rem 0;
    box-shadow: 0 0.214rem 0.357rem 0 rgba(0, 0, 0, 0.1);
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .left {
      display: flex;
      align-items: baseline;
      justify-content: center;

      .logo {
        color: #fff;
        font-size: 2.33rem;
        font-weight: 300;
        padding: 0 0.66rem;
      }

      .tag {
        font-size: 2.33rem;
        color: black;
        font-weight: 500;
      }


      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }

      i {
        font-size: 1.33rem;
        color: black;
      }
    }

    .right {

      .hamburger {
        width: 4.33rem;
        height: 3.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;


        &:hover span {
          box-shadow: 0 0 8px $mainBlue,
          0 0 20px $mainBlue,
          0 0 30px $mainBlue;
        }

        span {
          background-color: #fff;
          height: 0.133rem;
          width: 100%;
          transform-origin: 14.5% 50%;
          transition: all .3s cubic-bezier(.175, .885, .32, 1.275);


        }

      }

    }
  }

  &.active {
    color: white;

    .left {
      .logo {
        color: white;

      }
    }

    .hamburger {

      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media screen and(max-width: 479px) {
  html {
    font-size: 11px;
  }
  .topbar {

    .wrapper {
      .left {
        .logo {
          font-size: 25px;
        }

        i {
          font-size: 15px;
        }

      }

      .right {

        .hamburger {
          width: 40px;
          height: 30px;
        }
      }
    }

  }
}

