.portfolio {
  font-family: "Staatliches", sans-serif;
  position: relative;
  background-color: #1c1c1c;
  height: 100vh;
}
.portfolio .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .container .header {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 12%;
}
.portfolio .container .header .header-main {
  font-size: 3rem;
}
.portfolio .container .header .header-sub {
  font-family: "Inconsolata", monospace;
  margin-top: 1rem;
  font-size: 1.33rem;
  font-weight: 300;
  line-height: 1.4;
}
.portfolio .container .projects {
  position: absolute;
  top: 25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 5.33rem;
  grid-gap: 3rem;
}
.portfolio .container .projects .project {
  background-color: #173130;
  border-radius: 1.33rem;
  box-shadow: 0 0 2rem rgba(17, 16, 16, 0.18);
}
.portfolio .container .projects .project .project-container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.portfolio .container .projects .project .project-container img {
  width: 100%;
  display: block;
  border-radius: 1.33rem 1.33rem 0 0;
}
.portfolio .container .projects .project .project-container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.33rem 1.33rem 0 0;
  opacity: 0.6;
}
.portfolio .container .projects .project .details {
  padding: 1rem 0.5rem;
  text-align: center;
}
.portfolio .container .projects .project .details h3 {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin: 0.6rem 0 1.2rem 0;
}
.portfolio .container .projects .project .details button {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  background: #1c1c1c;
  color: #fff;
  border: 0.1rem solid #e1e1e1;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}
.portfolio .container .projects .project .details button:hover {
  color: #5ac4c4;
  box-shadow: 0 0 8px #5ac4c4, 0 0 20px #5ac4c4, 0 0 30px #5ac4c4;
}
.portfolio .container .projects .project:hover > .project-container:after {
  background-image: linear-gradient(135deg, black, black);
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
  html {
    font-size: 14px;
  }

  .portfolio {
    padding: 37rem 0;
  }
  .portfolio .container .header {
    top: 8%;
  }
  .portfolio .container .projects {
    top: 16%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-device-width: 904px) and (max-device-width: 1023px) {
  html {
    font-size: 13px;
  }

  .portfolio {
    padding: 40rem 0;
  }
  .portfolio .container .header {
    top: 8%;
  }
  .portfolio .container .projects {
    top: 15%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 903px) {
  html {
    font-size: 13px;
  }

  .portfolio {
    padding: 39rem 0;
  }
  .portfolio .container .header {
    top: 8%;
  }
  .portfolio .container .projects {
    top: 15%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 699px) and (min-width: 540px) {
  html {
    font-size: 11px;
  }

  .portfolio {
    padding: 100rem 0;
  }
  .portfolio .container .header {
    top: 6%;
  }
  .portfolio .container .projects {
    top: 12%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 539px) and (min-width: 374px) {
  html {
    font-size: 11px;
  }

  .portfolio {
    padding: 75rem 0;
  }
  .portfolio .container .header {
    top: 6%;
  }
  .portfolio .container .projects {
    top: 12%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 11px;
  }

  .portfolio {
    padding: 64rem 0;
  }
  .portfolio .container .header {
    top: 6%;
  }
  .portfolio .container .projects {
    top: 12%;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=portfolio.css.map */
