.about {
  background-color: #1c1c1c;
  font-family: "Staatliches", sans-serif;
  position: relative;
  height: 100vh;
}
.about .about-container {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  top: 45%;
  width: 60%;
  text-align: center;
}
.about .about-container .header {
  letter-spacing: 0.357rem;
  font-size: 5.357rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 2.142rem;
}
.about .about-container .about-primary {
  letter-spacing: 0.214rem;
  font-size: 2.428rem;
  font-weight: 500;
  color: #e1e1e1;
}
.about .about-container .about-primary span {
  transition: all 0.3s ease;
}
.about .about-container .about-primary span:hover {
  text-shadow: 0 0 8px #5ac4c4, 0 0 20px #5ac4c4, 0 0 30px #5ac4c4;
}
.about .about-container .about-secondary {
  letter-spacing: 0.214rem;
  margin-top: 2rem;
  font-size: 2.142rem;
  color: #e1e1e1;
}
.about .about-container .about-secondary span {
  transition: all 0.3s ease;
}
.about .about-container .about-secondary span:hover {
  text-shadow: 0 0 8px #5ac4c4, 0 0 20px #5ac4c4, 0 0 30px #5ac4c4;
}
.about .about-container .wrapper {
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .about-container .wrapper .link_wrapper {
  position: relative;
}
.about .about-container .wrapper .link_wrapper a {
  width: 17.857rem;
  height: 3.571rem;
  line-height: 3.571rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #1c1c1c;
  text-align: center;
  color: #fff;
  font-size: 1.357rem;
  letter-spacing: 0.285rem;
  border: 0.214rem solid #e1e1e1;
  transition: all 0.35s;
}
.about .about-container .wrapper .link_wrapper .icon {
  width: 3.571rem;
  height: 3.571rem;
  border: 0.214rem solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}
.about .about-container .wrapper .link_wrapper .icon svg {
  width: 2.142rem;
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  transform: rotate(-45deg);
  fill: #5ac4c4;
  transition: all 0.35s;
}
.about .about-container .wrapper .link_wrapper a:hover {
  width: 14.285rem;
  border: 0.214rem solid #173130;
  background: transparent;
  color: #5ac4c4;
  box-shadow: 0 0 8px #5ac4c4, 0 0 20px #5ac4c4, 0 0 30px #5ac4c4;
}
.about .about-container .wrapper .link_wrapper a:hover + .icon {
  border: 0.214rem solid #173130;
  right: -25%;
  box-shadow: 0 0 8px #5ac4c4, 0 0 20px #5ac4c4, 0 0 30px #5ac4c4;
}

@media only screen and (max-width: 479px) {
  html {
    font-size: 11px;
  }

  .about .about-container .header {
    font-size: 2.8rem;
  }
  .about .about-container .about-primary {
    font-size: 2rem;
  }
  .about .about-container .about-secondary {
    font-size: 1.8rem;
  }
  .about .about-container .wrapper {
    top: 119%;
  }
  .about .about-container .wrapper .link_wrapper a {
    width: 16rem;
    height: 4.5rem;
    font-size: 1.6rem;
    border: 0.2rem solid #e1e1e1;
  }
  .about .about-container .wrapper .link_wrapper .icon {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.2rem solid transparent;
  }
  .about .about-container .wrapper .link_wrapper .icon svg {
    width: 2.5rem;
    margin-top: 0.3rem;
  }
  .about .about-container .wrapper .link_wrapper a:hover {
    width: 17rem;
    font-size: 1.6rem;
    height: 4.5rem;
    border: 0.2rem solid #173130;
  }
  .about .about-container .wrapper .link_wrapper a:hover + .icon {
    border: 0.2rem solid #173130;
    right: -17%;
    top: 8%;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  html {
    font-size: 12px;
  }

  .about .about-container .header {
    font-size: 3.571rem;
  }
  .about .about-container .about-primary {
    font-size: 1.8rem;
  }
  .about .about-container .about-secondary {
    font-size: 1.7rem;
  }
  .about .about-container .wrapper {
    top: 150%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    font-size: 13px;
  }

  .about .about-container {
    transform: translateY(-50%) translateX(-50%);
    top: 38%;
  }
  .about .about-container .wrapper {
    top: 150%;
    transform: translate(-50%, -60%);
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (min-device-width: 1201px) and (max-device-width: 1500px) {
  html {
    font-size: 14px;
  }
}

/*# sourceMappingURL=about.css.map */
