@import "../../global.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal {
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a2828;
  display: flex;
  z-index: 1000;
  width: 66.66rem;
  height: 40rem;
  animation: transitionIn 1s;

  .left {
    flex: 0.6;
    width: 100%;
  }

  .right {
    flex: 0.4;
    padding: 2rem 0 0.66rem 0.66rem;

    .close-btn {
      position: absolute;
      right: 1rem;
      top: 1rem;
      border: none;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }

      i {
        font-size: 2.33rem;
        background-color: #2a2828;
        color: black;
      }
    }

    h1 {
      font-family: "Inconsolata", monospace;
      font-size: 2.66rem;
      color: #d2cece;
    }

    .tools {
      margin-top: 1.33rem;
      margin-bottom: 1.33rem;
      display: flex;
      flex-wrap: wrap;
      font-family: "Staatliches", sans-serif;
      letter-spacing: 1.06px;

      .tool {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.06rem solid #6e6d6d;
        margin-right: 0.33rem;
        margin-bottom: 0.33rem;

        .tool-name {
          font-size: 1.06rem;
          color: #858282;
          padding: 0.5rem;

        }
      }
    }

    .about-section {
      display: flex;
      flex-direction: column;
      line-height: 1.2;
      font-family: "Inconsolata", monospace;
      color: #d2cece;

      .about-header {
        font-size: 2rem;
        letter-spacing: 0.06rem;

      }

      .about-text {
        font-size: 1.06rem;
        letter-spacing: 0.06rem;
      }
    }

    .code-btn {
      font-family: "Inconsolata", monospace;
      font-size: 1rem;
      background: $bgColor;
      color: #fff;
      letter-spacing: 0.06rem;
      border: 0.1rem solid $textColor;
      padding: 0.7rem 1rem;
      margin-top: 2rem;
      transition: 0.3s ease;

      &:hover {
        color: $mainBlue;
        box-shadow: 0 0 8px $mainBlue,
        0 0 20px $mainBlue,
        0 0 30px $mainBlue;
      }
    }
  }
}

@media only screen and (min-device-width: 260px) and (max-width: 360px) {
  html {
    font-size: 11px;
  }
  .modal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .left {
      flex: none;
    }

    .right {
      flex: none;
      padding: 0;
      width: 85%;
      margin: 0 auto;

      .close-btn {
        right: 0.7rem;
        top: 0.7rem;
      }

      h1 {
        font-size: 2rem;
      }

      .tools {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;

      }

      .about-section {
        .about-header {
          letter-spacing: 0.04rem;
          font-size: 1.8rem;
        }

        .about-text {
          font-size: 1.15rem;
        }
      }

      .code-btn {
        padding: 0.8rem 1.1rem;
        margin-top: 1rem;
        font-size: 1.3rem;
      }
    }
  }

}

@media only screen and (min-width: 361px) and(max-width: 479px) {
  html {
    font-size: 11px;
  }
  .modal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .left {
      flex: none;
    }

    .right {
      flex: none;
      padding: 0;
      width: 84%;
      margin: 0 auto;

      .close-btn {
        right: 0.7rem;
        top: 0.7rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      .tools {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;

      }

      .about-section {
        .about-header {
          letter-spacing: 0.04rem;
          font-size: 2rem;
        }

        .about-text {
          font-size: 1.3rem;
        }
      }

      .code-btn {
        padding: 1rem 1.5rem;
        margin-top: 2rem;
        font-size: 1.8rem;
      }
    }
  }

}

@media only screen and (min-device-width: 480px) and (max-device-width: 885px) {
  html {
    font-size: 12px;
  }
  .modal {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 60rem;

    .left {
      flex: none;
    }

    .right {
      flex: none;
      padding: 0;
      width: 81.5%;
      margin: 0 auto;

      .close-btn {
        right: 0.7rem;
        top: 0.7rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      .tools {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .about-section {
        .about-header {
          letter-spacing: 0.04rem;

        }

        .about-text {
          font-size: 1.2rem;
        }
      }

      .code-btn {
        padding: 0.8rem 1.1rem;
        margin-top: 1rem;
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    font-size: 13px;
  }
  .modal {

  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 1201px) and (max-device-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}